[Match]
Name=eth0
Type=ether

[Network]
DHCP=yes
DHCPv6=no
LinkLocalAddressing=yes
IPv6AcceptRA=no

[DHCP]
UseHostname=yes
UseDomains=yes
UseNTP=yes
UseDNS=yes
ClientIdentifier=mac

[Link]
MTUBytes=1500
