[Match]
Name=eth1
Type=ether

[Network]
DHCP=yes
DHCPv6=no
LinkLocalAddressing=yes
IPv6AcceptRA=no

[DHCP]
UseHostname=no
UseDomains=yes
UseNTP=no
UseDNS=yes
ClientIdentifier=mac

[Link]
MTUBytes=1500
