// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2026 OpenBMC Community
/dts-v1/;

#include "aspeed-g4.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
    model = "Supermicro X10SRL-F BMC";
    compatible = "supermicro,x10srl-bmc", "aspeed,ast2400";

    chosen {
        stdout-path = &uart5;
        bootargs = "console=ttyS4,115200 earlyprintk";
    };

    memory@40000000 {
        // TODO: Verify actual size from vendor U-Boot output
        // Conservative 128MB until confirmed
        reg = <0x40000000 0x08000000>;
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        vga_memory: framebuffer@47800000 {
            no-map;
            reg = <0x47800000 0x00800000>; // 8MB for VGA
        };
    };
};

// SPI Flash - 32MB confirmed from product specs
&fmc {
    status = "okay";
    flash@0 {
        status = "okay";
        m25p,fast-read;
        label = "bmc";
        spi-max-frequency = <50000000>;
#include "openbmc-flash-layout.dtsi"
    };
};

// Host BIOS Flash
&spi {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spi1_default>;

    flash@0 {
        status = "okay";
        m25p,fast-read;
        label = "pnor";
        spi-max-frequency = <100000000>;
    };
};

// Console UART
&uart5 {
    status = "okay";
};

// Network - TODO: Verify RMII vs RGMII from U-Boot output
&mac0 {
    status = "okay";
    use-ncsi;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_rmii1_default>;
};

&mac1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_rgmii2_default>;
};

// KCS Interface - 0xca2 confirmed from Supermicro convention
&kcs3 {
    status = "okay";
    aspeed,lpc-io-reg = <0xca2>;
};

&lpc_ctrl {
    status = "okay";
};

&lpc_snoop {
    status = "okay";
    snoop-ports = <0x80>;
};

// I2C buses - ALL DISABLED until specific devices are identified
// DO NOT enable buses without knowing what's connected
&i2c0 {
    status = "disabled";
};

&i2c1 {
    status = "disabled";
};

&i2c2 {
    status = "disabled";
};

&i2c3 {
    status = "disabled";
};

&i2c4 {
    status = "disabled";
};

&i2c5 {
    status = "disabled";
};

&i2c6 {
    status = "disabled";
};

&i2c7 {
    status = "disabled";
};

&i2c8 {
    status = "disabled";
};

&i2c9 {
    status = "disabled";
};

&i2c10 {
    status = "disabled";
};

&i2c11 {
    status = "disabled";
};

&i2c12 {
    status = "disabled";
};

&i2c13 {
    status = "disabled";
};

// GPIO - NO NAMES until verified from actual hardware
// DO NOT set line names or configure as outputs
&gpio {
    status = "okay";
};

// ADC - disabled until sensor mapping is known
&adc {
    status = "disabled";
};

// PWM/FAN - disabled until channel mapping is verified
&pwm_tacho {
    status = "disabled";
};
